<h1>This is your gun</h1>

<p>The condtion of the gun is <%=@gun.condition%></p><br>
<p>It was made in <%=@gun.year%></p><br>
<p>Your gun model is <%=@gun.model%></p><br>
<p><a href = "<%=edit_gun_url%>" >Click here</a> to change any information about your gun</p>
<p><a href = "<%=gun_index_url%>" >Click here</a> to show all guns.</p>